/*
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/background.jpg");
    overflow: hidden;
    background-size: cover;
    color: white;
}
.footer .small{
    color: azure;
}
.card {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 250px 250px 100px;
    grid-template-areas: "image" "text" "stats";

    font-family: Roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
}
.card .navbar-item .button {}
*/
